.tarefa {
    background-color: #0065b7;
    padding: 0.5rem;
    border-radius: 0.24rem;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.51) 0px 10px 10px;
}

.alerta {
  color: #fbfbfb;
  background-color: #ff0017cf;
  border-color: #ff001a00;
  box-shadow: 5px 5px 10px #000000b5;
}
